# Cache de ferramentas
.ruff_cache/
__pycache__/
*.pyc

# Arquivos de dados grandes ou temporários
bronze/archive.zip
.DS_Store

# Opcional: Se quiser que o GitHub não fique pesado, 
# você pode ignorar os CSVs da bronze e deixar só os da gold.
# bronze/*.csv
